/* General Styling */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  font-weight: 600;
}

body {
  background-color: #4c728398;
  font-size: 1.5em;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: minmax(120px, auto) repeat(4, 100px);
}

/* For small laptops and large tablets */

@media only screen and (max-width: 1025px) {
  body {
    font-size: 1.8rem;
  }

  .calculator-grid {
    grid-template-columns: repeat(5, 90px);
    grid-template-rows: minmax(120px, auto) repeat(4, 100px);
  }
}

/* For small tablets and phones */

@media only screen and (max-width: 520px) {
  body {
    font-size: 1.4rem;
  }

  .calculator-grid {
    grid-template-columns: repeat(5, 65px);
    grid-template-rows: minmax(120px, auto) repeat(4, 80px);
  }
}

/* For small phones */

@media only screen and (max-width: 425px) {
  body {
    font-size: 1.2rem;
  }

  .calculator-grid {
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: minmax(100px, auto) repeat(4, 60px);
  }
}

/* Clear default button styling */

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Custom style buttons */

.calculator-grid > button {
  border: 2px solid white;
  background-color: #ffffff7e;
}

.calculator-grid > button:hover,
.calculator-grid > button:active {
  background-color: #ffffff;
}

button.number {
  background-color: #f3f3f3d5;
}

button.operator {
  background-color: #d3d3d3d5;
}

.large-btn {
  grid-column: span 2;
}

/* Style display area*/

.output {
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px;
  background-color: #646464d5;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.output .previous-operand,
.output .current-operand {
  color: #fffffff8;
}

.output .current-operand {
  font-size: 2em;
  font-weight: 400;
}
